
/* Added global font family */
* {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
}
.home {
    width: 100%;
    overflow-x: hidden;
} 